h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Cumplir con protocolo de atención de urgencias a víctimas de ataques con agentes químicos según lineamientos.