h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas  
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')                              
                    +navTemaItem('1', 'Marco conceptual quemaduras por agentes químicos', 'main.html#page/quemaduras/')
                    +navTemaItem('2', 'Primeros auxilios en el lugar de la agresión (comunidad)', 'main.html#page/auxilios/')
                    +navTemaItem('3', 'Atención prehospitalaria (ambulancias – profesionales de la salud)', 'main.html#page/prehospitalaria/')
                    +navTemaItem('4', 'Atención en el servicio de urgencias', 'main.html#page/urgencias/') 
                    +navTemaItem('5', 'Unidad de quemados y manejo ambulatorio', 'main.html#page/ambulatorio/')