.container
    .header-ecored
        h1 2. Primeros auxilios en el lugar de la agresión (comunidad)
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-8 
                .sub-ecored    
                    h2 Introducción 
                p La atención a las víctimas por lesiones con agentes químicos se debe iniciar en el lugar de la agresión, se trata de intervenciones de primeros auxilios brindadas inicialmente generalmente por la comunidad, es importante que todas las personas estén familiarizadas con estas acciones con el fin de garantizar una atención de calidad como primer respondiente desde el momento de la agresión y de esta manera disminuir la posibilidad de secuelas.

                p También es importante tener en cuenta las medidas de seguridad de la escena y de bioseguridad con el fin de proteger a los auxiliadores y evitar así nuevos lesionados. 
            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img11.png").img-fluid    
        #carouselExampleIndicators3.carousel.slide(data-interval='false')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators3', data-slide-to='0')
                li(data-target='#carouselExampleIndicators3', data-slide-to='1')
                li(data-target='#carouselExampleIndicators3', data-slide-to='2')
                      
            .carousel-inner
                .carousel-item.active
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                .sub-ecored#21    
                                    h2 2.1 Avise
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-4
                                        p Quien tenga conocimiento del hecho deberá llamar a la línea 123 o a la línea de atención de emergencias que corresponda teniendo en cuenta el municipio de ocurrencia de los hechos.
                                    .col-12.col-md-4
                                        img.img-a(src="assets/images/pages/ilustraciones/img12.png").img-fluid 
                                    .col-12.col-md-4 
                                        p En la llamada se deberá indicar: 
                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 1
                                            .list__txt    
                                                p.mb-0 Sitio de ocurrencia de los hechos.

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 2
                                            .list__txt    
                                                p.mb-0 Indicar brevemente la situación informando: tiempo, personas afectadas y estado de estas (inconsciente, no respira, no se mueve, etc. 

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 3
                                            .list__txt    
                                                p.mb-0 Esperar las instrucciones del operador de la línea de emergencias.
                                .row.z-sup.mt-6
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-8
                                        p.bg-4.text-white Es importante tener claridad de la línea de atención de emergencias de su municipio.

                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                .sub-ecored#22    
                                    h2 2.2 Proteja                         
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-6 
                                        p En la llamada se deberá indicar: 
                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 1
                                            .list__txt    
                                                p.mb-0 Evalúe las condiciones de seguridad de la situación antes de intervenir, tales como presencia aún del agresor, vehículos que supongan un riesgo para la víctima y el auxiliador, entre otras situaciones amenazantes. 

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 2
                                            .list__txt    
                                                p.mb-0 No toque ninguna superficie o el cuerpo de la víctima sin protección. Tome las medidas de precaución necesarias, póngase guantes de nitrilo, bata y gafas (si llega a contar con estos). 
                                 
                                    .col-12.col-md-6
                                        img.img-a(src="assets/images/pages/ilustraciones/img13.png").img-fluid 
                                .row.z-sup.mt-6
                                    .col-auto
                                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                        
                                .row.text-sup-1 
                                    .col-12
                                        p.bg-4.text-white Debe tomar las medidas de precaución necesarias antes de tener contacto con la víctima: evaluar la seguridad de la escena e idealmente ponerse guantes, bata y gafas. 

                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                .sub-ecored#23   
                                    h2 2.3 Atienda
                                .row.justify-content-center.align-items-center
                                    .col-12.col-md-6 
                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 1
                                            .list__txt    
                                                p.mb-0 Preséntese ante la víctima y exprésele que está para ayudarle: diga su nombre y el de la institución a la cual pertenece (en caso de que pertenezca a la policía, bomberos, defensa civil). 

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 2
                                            .list__txt    
                                                p.mb-0 Actúe con calma. 

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 3
                                            .list__txt    
                                                p.mb-0 Prepárese para el evento de que la víctima quiera salir corriendo ya que el dolor, la angustia y el temor pueden impulsarlo a hacerlo.
 
                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 4
                                            .list__txt    
                                                p.mb-0 El paciente debe ser retirado del lugar donde ocurrió la emergencia.

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 5
                                            .list__txt    
                                                p.mb-0 Se retiran los objetos metálicos y las prendas de vestir, excepto las que estén adheridas a la piel, teniendo precaución de no dispersar el agente químico en otras partes del cuerpo de la víctima que no han sido afectadas. 

                                        .list.mt-3
                                            .list__item
                                                .list__item__bulletNumber
                                                    span 6
                                            .list__txt    
                                                p.mb-0 Se debe considerar la intimidad y pudor de las personas al retirar las prendas, al igual que la preservación de estas para las investigaciones de las autoridades judiciales.                 
                                    .col-12.col-md-6
                                        .row.z-sup
                                            .col-auto
                                                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                                                
                                        .row.text-sup-1 
                                            .col-12
                                                p.bg-4.text-white En el momento de retirar las prendas se debe tener la precaución de no dispersar el agente químico en partes de la víctima que no han sido afectadas, también es importante como auxiliador evitar entrar en contacto con la sustancia sin las medidas de bioseguridad ya que también puede salir lesionado.                            
                                        img.img-a.mt-2(src="assets/images/pages/ilustraciones/img14.png").img-fluid
                                p.mt-5 Posterior a estas acciones iniciales enfocadas en interrumpir el contacto con el agente químico y rescatar a la víctima, se debe estabilizar y transportar a la víctima por personal de salud.
            a.carousel-control-prev(href='#carouselExampleIndicators3', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators3', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next                