.container
    .header-ecored
        h1 4. Atención en el servicio de urgencias
    .jumbotron.bg-white
        .sub-ecored    
            h2 Introducción 
        p La atención en urgencias implica un cierto número de acciones que se van de forma simultánea y que involucran a los profesionales y personal de apoyo que se encuentra en un servicio de urgencias
        .sub-ecored.mt-5#41    
            h2 4.1 Triage        
                
        .row.justify-content-center.align-items-center.jumbotron.bg-11.py-3.px-3.mt-5
            .col
                    p.mb-0 Las víctimas de ataques con agentes químicos deben ser clasificadas como de #[strong #[i máxima prioridad]] (Triage I) y ser ingresadas para evaluación y lavado en forma inmediata.     
            .col-auto
                img.img-a(src="assets/images/pages/ilustraciones/img19.png").img-fluid       

        .sub-ecored.mt-5#42  
            h2  4.2 Evaluación inicial ABCDE 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                p Se debe realizar una evaluación inicial ABCDE, con el fin de identificar lesiones que pongan en riesgo la vida de la víctima.            

            .col-12.col-md-2
                img.img-a(src="assets/images/pages/ilustraciones/img31.png").img-fluid
            .col-12.col-md-5
                .list
                    .list__item
                        .list__item__bulletNumber
                            span A
                    .list__txt    
                        p.mb-0 VÍA AÉREA (AIRWAY)
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span B
                    .list__txt    
                        p.mb-0 VENTILACIÓN (BREATH)
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span C
                    .list__txt    
                        p.mb-0 CIRCULACIÓN (CIRCULATION)
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span D
                    .list__txt    
                        p.mb-0 DÉFICIT NEUROLÓGICO (DISABILITY)
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span E
                    .list__txt    
                        p.mb-0 EXPOSICIÓN Y CONTROL DE HIPOTERMIA (EXPOSURE)        

        .sub-ecored.mt-5#43
            h2 4.3 Irrigación - lavado - curación inicial                        
        p El lavado debe realizarse siempre en urgencias, independientemente si se llevó a cabo en el lugar de la agresión, con el fin de continuar la remoción del agente químico. 

        p Este paso es clave y debe realizarse lo más pronto posible, de ahí que la evaluación inicial y el lavado son simultáneos y depende del criterio médico priorizar su orden. 

        .row.z-sup.mt-6
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white el lavado se debe realizar siempre en urgencias, incluso si fue realizado en la atención pre hospitalaria, esto con el fin de continuar la remoción del agente químico, se debe realizar la evaluación inicial y el lavado de manera simultánea. 
        .row.justify-content-center.align-items-center.mt-5 
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img32.png").img-fluid    

            .col
                P.jumbotron.bg-white.mb-0.b-color-1 1. Evitar la hipotermia: el lavado debe ser realizado en un lugar con temperatura ambiente controlada (puertas y ventanas cerradas), utilizando agua a temperatura corporal y protegiendo la intimidad de las personas que no estén directamente involucradas en el procedimiento. 

        .row.justify-content-center.align-items-center.mt-5 
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img33.png").img-fluid    

            .col
                P.jumbotron.bg-white.mb-0.b-color-2 2. Utilizar jabón adecuado: la recomendación es Clorhexidina en solución acuosa al 0.2% o syndet. NO utilice jabón con yodopovidona.

        .row.justify-content-center.align-items-center.mt-5 
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img34.png").img-fluid    

            .col
                P.jumbotron.bg-white.mb-0.b-color-3 3. Monitorizar acidez de las áreas quemadas: se debe evaluar con tirillas de pH con el fin de establecer hasta qué momento se continúa con el lavado para lograr un pH neutro.  

        .row.justify-content-center.align-items-center.mt-5 
            .col-auto 
                img.img-a(src="assets/images/pages/ilustraciones/img35.png").img-fluid    

            .col
                P.jumbotron.bg-white.mb-0.b-color-4 4. Utilizar el equipo adecuado: la institución debe contar con equipo de bioseguridad y el instrumental adecuado para realizar el lavado.                                 

        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-5
                p La irrigación copiosa con agua de la zona atacada por el químico es la primera y más importante acción a realizar en los primeros auxilios ya que permite..

            .col-12.col-md-2
                img.img-a(src="assets/images/pages/ilustraciones/img37.png").img-fluid    

            .col-12.col-md-5
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Diluir y remover el químico

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Retorno del pH a nivel normal

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Suprimir cualquier metabolismo tisular/ elevado

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Atenuar la reacción química

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Suprimir la acción higroscópica

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Acción anti inflamatoria             

        .sub-ecored.mt-5#44
            h2 4.4 Analgesia
        p.mt-5 Las quemaduras químicas son muy dolorosas y deben ser manejadas con opioides. Se recomienda usar uno de los que se encuentran en la siguiente tabla, la morfina es la sustancia más recomendada. 

        table.table.mt-5
            tbody
                tr.table-1.text-center
                    td Analgésico 
                    td P¨resentación
                    td Dosis
            tbody
                tr
                    td.table-2_1 Morfina
                    td.table-2_1 Ampolla por 10mg
                    td.table-2_1 0.05 a 0.1 mg x kg diluido cada 4 a 6 hras 
                
            tbody
                tr
                    td.table-1_1 Meperidina           
                    td.table-1_1 Ampolla por 100mg           
                    td.table-1_1 i mg x kg distribuido cada 6 horas           

            tbody
                tr
                    td.table-2_1 Tramadol                    
                    td.table-2_1 Ampolla por 50mg
                    td.table-2_1 i mg x kg cada 6 horas          

        .row.z-sup.mt-6
            .col-auto
                img.pl-3.i-left-1(src="assets/images/pages/ilustraciones/img36.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-10 Los antibióticos NO deben iniciarse de manera rutinaria o “profiláctica” en urgencias a menos que haya una indicación para su prescripción.                     

        .sub-ecored.mt-5#45
            h2 4.5 Manejo de quemadura en ojos                 

        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-6
                p Los ataques con agentes químicos suelen dirigirse hacia la cara afectando con frecuencia los ojos, esto corresponden en términos porcentuales de un 30 a 50%.

                p El manejo ocular debe iniciarse en el lugar de la agresión y continuar en urgencias mediante irrigación continua con Lactato de Ringer por períodos de 30  minutos evaluando el pH entre cada irrigación en caso  

            .col-12.col-md-6
                p de que se cuente con la cinta para medir pH. Las tiras que se utilizan en los laboratorios clínicos para análisis de orina pueden servir para este fin. 

                p Si no se cuenta con la cinta continuar la irrigación ocular hasta la remisión a un nivel de complejidad mayor o hasta que el concepto del oftalmólogo indique lo contrario si se cuenta con este.
        p.mt-5 Dispositivo de irrigación ocular y colocación para el correcto lavado ocular
        img.img-a(src="assets/images/pages/ilustraciones/img38.png").img-fluid    

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-4
                .jumbotron.bg-1
                    img.img-a(src="assets/images/pages/ilustraciones/img26.png").img-fluid
                    p.text-white.text-center.mb-0.mt-3 Tiras reactivas para medir pH
            .col-12.col-md-4
                .jumbotron.bg-1
                    img.img-a(src="assets/images/pages/ilustraciones/img27.png").img-fluid
                    p.text-white.text-center.mb-0.mt-3 Medida de pH en fondo de saco
            .col-12.col-md-4
                p Mediremos el pH en el fomix, mediante tiras reactivas, y si éste no es próximo a 7 continuaremos con el lavado.

        h3.mt-5 Valoración inmediata por oftalmología:
        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-6
                p Debe incluir evaluación con lámpara de Wood, medición de la presión intraocular y el examen con fluoresceína. 

                p Debido al dolor intenso que provocan estas quemaduras puede ser necesario utilizar anestésico local: proparacaína al 0,5%, si no se dispone de este utilizar lidocaína al 2% sin epinefrina. 

                p Si el dolor es intenso puede adicionarse un analgésico oral o parenteral para realizar la evaluación ocular. 
            .col-12.col-md-6
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white Si a pesar del anestésico y analgésico, la víctima no consigue abrir los párpados será necesario utilizar retractores palpebrales, para realizar la irrigación y la evaluación.              

        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-6
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white Está contraindicado el uso de fenilefrina porque aumenta la lesión isquémica de las estructuras profundas.             
            .col-12.col-md-6
                p Si durante el examen se encuentran partículas extrañas, el especialista deberá removerlas utilizando un hisopo o aplicador con punta de algodón. 

                p Si la institución no cuenta con especialista en oftalmología, deberá registrarse en la historia clínica y en el resumen de la remisión, para que la evaluación pertinente se realice tan pronto llegue la víctima a la unidad especializada. 

        .sub-ecored.mt-5#46
            h2 4.6 Evaluación de las quemaduras
        .row.justify-content-center.align-items-center.mt-5 
            .col-12.col-md-6  
                p Una evaluación adecuada de la lesión implica determinar:                       
            .col-12.col-md-6  
                .list
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt    
                        p.mb-0 La profundidad o grado

                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt    
                        p.mb-0 La extensión

                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt    
                        p.mb-0 El patrón de las quemaduras

        #carouselExampleIndicators3.carousel.slide.mt-5(data-interval='false')
            ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators3', data-slide-to='0')
                li(data-target='#carouselExampleIndicators3', data-slide-to='1')
                li(data-target='#carouselExampleIndicators3', data-slide-to='2')
                      
            .carousel-inner
                .carousel-item.active
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10 
                                .sub-ecored
                                    h3 1. La profundidad o grado:
                                .row.justify-content-center.align-items-center
                                    .col-auto           
                                        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img39.png").img-fluid
                                    .col   
                                        p Imagen. Clasificación de las quemaduras por grados. Fuente: (Zapata Mendo, 2019)

                                table.table.mt-5
                                    tbody
                                        tr.table-1
                                            td Grado 
                                            td Profundidad
                                            <td colspan="2">Hallazgos
                                    tbody
                                        tr
                                            td.table-2_1 I
                                            td.table-2_1 Epidermis
                                            td.table-2_1 
                                                ul 
                                                    li Eritema
                                                    li Sequedad 
                                            td.table-2_1 
                                                ul  
                                                    li Dolor
                                                    li Edema 
                                    tbody
                                        tr
                                            td.table-1_1 II
                                            td.table-1_1 Epidermis y parte de la dermis
                                            td.table-1_1
                                                ul 
                                                    li Eritema
                                                    li Edema
                                                    li Ampollas  
                                            td.table-1_1
                                                ul 
                                                    li Dolor
                                                    li Pérdida de piel
                                                    li Sensibilidad al aire 
                                    tbody
                                        tr
                                            td.table-2_1 III
                                            td.table-2_1 Epidermis y dermis. #[br] Nervios, músculos y hueso 
                                            td.table-2_1
                                                ul 
                                                    li Blanco o carbonizado  
                                            td.table-2_1
                                                ul 
                                                    li Edema
                                                    li Indolora 


                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                .sub-ecored
                                    h2 2. La extensión
                                .row.justify-content-center.align-items-center
                                    .col-auto           
                                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img40.png").img-fluid
                                    .col   
                                        p Para calcular la extensión de la quemadura se utilizará la “regla de los 9” y el “método de la palma” en la cual toda la palma de la víctima es igual al 1% de su superficie corporal.
                                        p Imagen. Cálculo de la superficie corporal quemada. 

                .carousel-item
                    .jumbotron.bg-2.px-4
                        .row.justify-content-center.align-items-center
                            .col-10  
                                .sub-ecored
                                    h2 3. El patrón de las quemaduras
                                p Evaluación del patrón de la quemadura por agente químico.
                                table.table.mt-5
                                    tbody
                                        tr.table-1
                                            td Patrón 
                                            td Descripción

                                    tbody
                                        tr
                                            td.table-2_1 Continuo
                                            td.table-2_1 Una o varias áreas corporales lesionadas en continuidad sin áreas no quemadas entre ellas con líneas verticales que evidencian el escurrimiento del líquido. 
                                    tbody
                                        tr.table-1_1
                                            <td colspan="2"> Ocurre cuando se arroja gran cantidad del químico a corta distancia.

                                    tbody
                                        tr
                                            td.table-2_1 En gotas diseminadas
                                            td.table-2_1 Múltiples quemaduras pequeñas diseminadas en diferentes áreas.}

                                    tbody
                                        tr.table-1_1
                                            <td colspan="2"> Se produce cuando el químico es arrojado a mayor distancia y solo salpica.  
                                    tbody
                                        tr
                                            td.table-2_1 Mixto 
                                            td.table-2_1 Combinación de los dos patrones anteriores. 

                                    tbody
                                        tr.table-1_1
                                            <td colspan="2"> Es clásico el compromiso de cara, ojos, cuello y casi siempre región anterior del tórax. 
                                p Es importante describir siempre el aspecto de las lesiones encontradas ya que algunas características de la quemadura pueden orientar a identificar los agentes químicos utilizados. 
            a.carousel-control-prev(href='#carouselExampleIndicators3', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators3', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next       

        .row.justify-content-center.align-items-center.mt-5 
            .col-auto 
                img.img-a.mb-3(src="assets/images/pages/ilustraciones/img41.png").img-fluid    

            .col 
                p Imagen: patrón de presentación quemadura química por agresión. Fuente. Gaviria-Castellanos, J. L., Gómez-Ortega, V., Gutiérrez, P. (2015).    

        p.mt-5 Características de la quemadura según agente químico.
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-8
                table.table
                    tbody
                        tr.table-1
                            td Agente químico 
                            td Características de la quemadura

                    tbody
                        tr
                            td.table-2_1 Ácido sulfúrico
                            td.table-2_1 Escara negra, seca y muy adherida. El ácido reacciona con la piel generando gran cantidad de calor lo que causa, además de la quemadura química, una lesión térmica y un dolor intenso.  
                    tbody
                        tr
                            td.table-1_1 Ácido Nítrico        
                            td.table-1_1 Escara de color amarillo-naranja. Es una quemadura muy profunda.   
                    tbody
                        tr
                            td.table-2_1 Ácido fórmico
                            td.table-2_1 Escara café oscura.
            .col-12.col-md-4
                p.mb-0 Debe quedar registro de la distribución y localización de las áreas quemadas en el formato de corpograma. 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white Para realizar un manejo adecuado de las quemaduras por agentes químicos es importante conocer la extensión de esta, por lo cual se recomienda tener presente “regla de los 9” y el “método de la palma”.            
            .col-12.col-md-6
                img.img-a(src="assets/images/pages/ilustraciones/img42.png").img-fluid  
                p.mt-3 Imagen: corpograma  

        .sub-ecored.mt-5#47
            h2 4.7 Referencia unidad de quemados 
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6 
                p Una vez se realice la atención de urgencias y conforme al criterio del médico tratante, las víctimas de quemaduras químicas deben ser remitidas a la unidad de quemados o a la IPS de alta complejidad más cercana que cuente con profesionales especializados en atención a quemados, para asegurar el tratamiento adecuado y minimizar la morbimortalidad asociada a estas agresiones.            
            .col-12.col-md-6            
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white Toda quemadura por agentes químicos debe ser evaluada por profesionales especializados, ya sea en una unidad de quemados o en una institución especializada en esta atención. 
            
        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6  
                img.img-a(src="assets/images/pages/ilustraciones/img43.png").img-fluid
            .col-12.col-md-6
                p La referencia es realizada por las centrales de referencia de la institución donde está siendo atendida la víctima, teniendo en cuenta la normatividad vigente.

                p El traslado se debe realizar únicamente cuando: 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Se haya notificado a la institución receptora y esta acepte. 

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top La víctima esté hemodinámicamente estable.

                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top La vía aérea esté asegurada. 

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6
                h3 Cómo realizar el traslado: 
                p Para minimizar las complicaciones, durante el traslado se debe garantizar:
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt    
                        p.mb-0 Cabecera elevada a 30 grados para limitar la formación de edema facial. 
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt    
                        p.mb-0 Todas las áreas quemadas cubiertas con gasas humedecidas con lactato de ringer. 
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt    
                        p.mb-0 En las quemaduras en manos y pies se deben separar los dedos con gasas, manteniendo elevado el miembro afectado para disminuir el edema. 
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt    
                        p.mb-0 Extremidades quemadas elevadas por encima del tórax.
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt    
                        p.mb-0 Protección contra la hipotermia cubriendo a la víctima con sábana y cobija, y controla la temperatura del medio de transporte.
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white para realizar el traslado la víctima debe estar estable hemodinámicamente y con vía aérea asegurada. Se debe trasladar teniendo en cuenta todas las medidas para evitar que aumente el edema en el área o áreas afectadas, se debe mantener el aporte de líquidos.
                   
            .col-12.col-md-6  
                img.img-a(src="assets/images/pages/ilustraciones/img44.png").img-fluid
                p Se debe realizar un monitoreo constante de los siguientes parámetros: 
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 1
                    .list__txt    
                        p.mb-0 Vía aérea: garantizar oxigenoterapia si lo requiere.
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 2
                    .list__txt    
                        p.mb-0 Circulación: asegurar dos (2) vías periféricas de grueso calibre manteniendo la infusión de líquidos previamente calculados (lactato de ringer: 4cc x kg x % de superficie corporal quemada).
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 3
                    .list__txt    
                        p.mb-0 Diuresis: la infusión de líquidos debe asegurar una diuresis mayor 0.5 ml/kg/hora. Para poder asegurar este monitoreo debe colocarse sonda vesical. 
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 4
                    .list__txt    
                        p.mb-0 Monitorización electrocardiográfica.
                .list.mt-3
                    .list__item
                        .list__item__bulletNumber
                            span 5
                    .list__txt    
                        p.mb-0 Monitorización de presión arterial. 
                 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img45.png").img-fluid
