.container
    .header-ecored
        h1 5. Unidad de quemados y manejo ambulatorio
    .jumbotron.bg-white
        .row.justify-content-center.align-items-center
            .col-12.col-md-8 
                .sub-ecored    
                    h2 Introducción 
                p El manejo especializado en la unidad de quemados es fundamental para disminuir la morbi-mortalidad asociada a las quemaduras por agentes químicos. 

                p En la unidad de quemados se define el lugar de tratamiento, se inicia el manejo interdisciplinario teniendo en cuenta las necesidades particulares de cada víctima. 

                p Con relación al manejo ambulatorio, se deben garantizar los controles pertinentes por cirugía plástica, así como las curaciones necesarias, el proceso de rehabilitación y el seguimiento por salud mental y trabajo social. 

                p Se debe evitar cualquier tipo de obstáculo para que las víctimas accedan a su tratamiento integral. 

            .col-12.col-md-4
                img.img-a(src="assets/images/pages/ilustraciones/img46.png").img-fluid 

        .sub-ecored.mt-5#51    
            h2 5.1 Criterios para el manejo ambulatorio u hospitalización 
        p.mt-5 Dentro de las acciones que realiza el equipo de salud de las unidades de quemados se encuentran:                

        .row.justify-content-center.align-items-center
            .col-12.col-md-6 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-1 Nueva evaluación de las circunstancias de la agresión (mecanismo y momento).                     
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/1.png").img-fluid 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-3 Examen físico completo, de cabeza a pies, reevaluando permanentemente el ABCDE y valorando la presencia de otras lesiones no detectadas en urgencias.
                    
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/3.png").img-fluid 

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-5 Identificación del compromiso ocular y valoración por oftalmología.                     
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/5.png").img-fluid 

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-7 Definición del lugar del tratamiento: con base en la valoración clínica y paraclínica el equipo especializado define si la víctima se hospitaliza o si puede recibir un tratamiento especializado.                    
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/7.png").img-fluid 

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-9 La primera curación debe ser siempre realizada en la unidad de quemados.                    
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/9.png").img-fluid        

            .col-12.col-md-6 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/2.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-2 Identificación de factores de riesgo tanto en los antecedentes como en las circunstancias de la agresión.

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/4.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-4 Evaluación de las quemaduras estableciendo su grado de profundidad y extensión. La distribución y localización de las áreas quemadas deben quedar registradas en un nuevo corpograma diferente al realizado en urgencias.

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/6.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-6 Evaluaciones paraclínicas pertinentes según los estándares de la Unidad de quemados.

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/8.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-7 Si se establece que la quemadura puede ser tratada de forma ambulatoria, es importante que la víctima y sus familiares tengan claro con qué frecuencia y en dónde deben realizarse estas curaciones.                          

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-6     
                table.table
                    tbody
                        tr.table-1.text-center
                            td ATENCIÓN HOSPITALARIA 
                            td ATENCIÓN AMBULATORIA

                    tbody
                        tr
                            td.table-2_1 Quemadura en cara, cuello, manos, pies, genitales y pliegues de flexión (áreas especiales)  
                            td.table-2_1 Quemadura con patrón de salpicadura, disperso, poco extenso  

                        
                    tbody
                        tr
                            td.table-1_1 Signos de toxicidad sistémica
                            td.table-1_1 Quemadura GI o GII superficial

                    tbody
                        tr
                            td.table-2_1 Compromiso de vía aérea #[br] Quemaduras de espesor parcial profundo o de espesor total (Grado II o Grado III- Tabla 8)#[br] Quemadura de patrón continuo#[br] Edad en extremos de la vida                           
                            td.table-2_1  Sin compromiso de áreas especiales#[br]Sin compromiso de vía aérea                            

                    tbody
                        tr
                            td.table-2_1 Quemaduras de espesor parcial profundo o de espesor total (Grado II o Grado III- Tabla 8)
                            td.table-2_1 
                    tbody
                        tr
                            td.table-1_1 Comorbilidades
                            td.table-1_1   
                    tbody
                        tr
                            td.table-2_1 Riesgo de una nueva agresión                            
                            td.table-2_1 
            .col-12.col-md-6     
                .row.z-sup.mt-6
                    .col-auto
                        img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                        
                .row.text-sup-1 
                    .col-12
                        p.bg-4.text-white en la unidad de quemados se realiza nuevamente una evaluación completa del estado general de la víctima, la extensión y profundidad de las quemaduras. Se define el lugar del tratamiento, en caso de estar indicado el manejo ambulatorio la primera curación se debe realizar en la unidad de quemados. 

        .row.justify-content-center.align-items-center.mt-5
            .col-auto
                a(href="https://www.torrecardenas.eloculista.es/index.php/oftalmologia/articulos-ugc-oftalmologia/19-articulos-de-polo-anterior/65-quemaduras-oculares-termicas-y-quimicas" target="_blank").media-link

                    img(src="assets/images/pages/ilustraciones/lib.png" alt="").media-link-icon

                    .media-link-title
                        p Protocolo de atención integral a víctimas de crímenes con ácidos  

        .sub-ecored.mt-5#52
            h2 5.2 Manejo interdisciplinario

        .row.justify-content-center.align-items-center.mt-5
            .col-12.col-md-5
                p El tratamiento integral hospitalario debe incluir un equipo multidisciplinario básico para la atención de víctimas de ataques con agentes químicos, los profesionales de este equipo son:         

            .col-12.col-md-2
                img.img-a(src="assets/images/pages/ilustraciones/img31_1.png").img-fluid
            .col-12.col-md-5          
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Cirugía plástica.
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Salud mental (psiquiatría y/o psicología).
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Trabajo social.
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top Rehabilitación (fisiatría, fisioterapia, terapia ocupacional).
        p Según la localización de la quemadura, las características de la víctima, puede ser necesaria la intervención de otros profesionales, las especialidades que con mayor frecuencia participan en la atención de estas víctimas son:                         

        .row.justify-content-center.align-items-center
            .col-12.col-md-6 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-12 Pediatría: en todo menor de 15 años sin importar la extensión o profundidad. Es importante descartar maltrato infantil en esta población.                    
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/12.png").img-fluid 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-14 Otorrinolaringología: si hay compromiso del conducto auditivo externo y del oído medio, y/o cuando el paciente presenta compromiso severo de la estructura nasal.                      
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/14.png").img-fluid 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-16 Cirugía de mano: en caso de lesiones profundas de mano.                    
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/16.png").img-fluid 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-18 Microcirugía: cuando se requiere realizar una cirugía reconstructiva en la cual la junta médico-quirúrgica de cirugía plástica considera que esta es la mejor opción.                     
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/18.png").img-fluid                                                                         

            .col-12.col-md-6 
                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/11.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-11 Oftalmología: siempre que haya sospecha de compromiso del globo ocular o estructuras perioculares como: párpados, conducto y glándula lacrimal. 

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/13.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-13 Cirugía general: en todos los casos en los cuales la agresión estuvo asociada a ingesta de agentes químicos o si existe sospecha de compromiso de la vía digestiva. También se requiere en los casos severos con compromiso vascular periférico y lesiones de las estructuras profundas del cuello.

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/15.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-15 Medicina interna: en caso de comorbilidades previas como: hipertensión arterial, diabetes, cardiopatías, etc., 

                .row.justify-content-center.align-items-center.mt-5
                    .col-md-4
                        img.img-a(src="assets/images/pages/ilustraciones/17.png").img-fluid                     
                    .col-md-8 
                        p.jumbotron.bg-white.mb-0.c-17 Urología: en casos en donde la víctima presenta lesiones en genitales.  

        .row.z-sup.mt-5
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white El manejo de una víctima por agente químico siempre requiere de un equipo multidisciplinario básico que incluye profesionales de 4 áreas: cirugía plástica, salud mental, trabajo social y rehabilitación.#[br]#[br]Los profesionales de otras especialidades serán requeridos teniendo en cuenta las necesidades y particularidades de cada víctima.
                         
        .sub-ecored.mt-5#53
            h2 5.3 Rehabilitación física  

        .row.justify-content-center.align-items-center
            .col-12.col-md-6 
                p La rehabilitación de la víctima se inicia en la fase post aguda, cuando la víctima y su familia ya han pasado el impacto emocional inicial y están viviendo la crisis frente a los cambios corporales de la víctima. 

                p Los elementos básicos de esta rehabilitación son: 
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top El ejercicio
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top El acomodamiento
                .list.mt-3
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/v3.svg").img-fluid  
                    .list__txt    
                        p.m-top El control del edema Y la órtesis
            .col-12.col-md-6             
                img.img-a(src="assets/images/pages/ilustraciones/img47.png").img-fluid  
                p Es importante tener presente y explicar a la familia, que el proceso de recuperación si bien inicia durante la hospitalización, puede prolongarse por años, adaptándose a las necesidades relacionadas con los procesos quirúrgicos y los de la propia cicatrización.  
        .row.z-sup.mt-5
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white El proceso de rehabilitación inicia en la fase post aguda de la lesión, pero puede durar varios años teniendo en cuenta la complejidad de los diferentes casos de quemaduras por agentes químicos.                                 
        .sub-ecored.mt-5#54
            h2 5.4 Control y seguimiento ambulatorio 
        p Es necesario tener en cuenta que la atención multidisciplinaria va más allá de la primera hospitalización e incluye atención por cirugía plástica como por salud mental.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img48.png").img-fluid  
        .row.z-sup.mt-6
            .col-auto
                img.i-left-1(src="assets/images/pages/ilustraciones/img6.png").img-fluid
                
        .row.text-sup-1 
            .col-12
                p.bg-4.text-white Se debe realizar control y seguimiento ambulatorio de acuerdo con las necesidades de las víctimas, en todos los casos se debe garantizar control con cirugía plástica y salud mental.#[br]#[br] La frecuencia de los controles por cirugía plástica inicialmente es semanal o quincenal durante los primeros tres meses, posteriormente es mensual por los siguientes tres meses y luego cada 2 o 3 meses teniendo en cuenta el criterio clínico. La frecuencia se repite después de cada procedimiento quirúrgico.