.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Nombre del documento o material.
                    th.text-center Tipo de material. 
                    th.text-center Enlace del Recurso.

            tbody

            
                tr
                    td Protocolo de atención a pacientes víctimas de agresión con químicos, 2020, (03:15–05:21)
                    
                    td Vídeo
                    td 
                        a(href="https://youtu.be/BUdR6IeMq6Q", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver
                tr
                    td Carretero, G. M. (s. f.). Quemaduras oculares térmicas y químicas [Imagen]. Complejo hospitalario Torrecárdenas. 
                    
                    td Artículo 
                    td 
                        a(href="https://www.torrecardenas.eloculista.es/index.php/oftalmologia/articulos-ugc-oftalmologia/19-articulos-de-polo-anterior/65-quemaduras-oculares-termicas-y-quimicas", target="_blank") <span class="fa fa-link mr-3" aria-hidden="true"></span> ver

                tr
                    td Resolución 4568 de 2014, Por la cual se adopta el Protocolo de Atención de Urgencias a Víctimas de Ataques con Agentes Químicos. 16 Oct, 2014 Núm. 49325
                    
                    td Protocolo
                    td 
                         